* {
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
}


.content-section {
    background-color: grey;
    width: 100vw;
    height: 80vh;
    margin-top: 50px;
}

.board {
    background-image: url('https://images.unsplash.com/photo-1583142262682-8bd4063c2a3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjczMTc0fQ&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px;
}

.outer-card {
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
}

.outer-card::after {
    box-shadow: inset 0 0 0 rgba(255, 255, 255, .5);
    filter: blur(10px);
}


.phase-0 {
    border-radius: 5%;
    opacity: 0.9;
    width: 20vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
}


.phase-1 {
    border-radius: 5%;
    opacity: 0.9;
    width: 20vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.phase-2 {
    border-radius: 5%;
    opacity: 0.9;
    width: 20vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.phase-3 {
    border-radius: 5%;
    opacity: 0.9;
    width: 20vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.phase-header{
    text-align: center;
    height: 6vh;
    border-radius: 5%;
}

.phase-body {
    margin-top: 0px;
    height: 85vh;
    padding-top: 10px;
}

.card {
    max-width: 50rem;
    max-height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-evenly;
}

.add-btn-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.btn{
    padding: 5px 5px;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

#addProjectField {
    outline: none;
    border: none;
    border-bottom: solid black;
}

#addProjectField:focus {
    outline: none;
}

/*
Card content design
*/

.left-content {
    display: flex;
    flex-direction: column;
}

.right-content {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.user-photo{
    align-self: flex-end;
    justify-self: flex-end;
}



/*
FORM CUSTOMIZATION
*/


.login-section {
    width: fit-content;
}

.form-group {
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;;
}

.form-section {
    display: none;
}