body {
    background: url('http://getwallpapers.com/wallpaper/full/d/7/3/369465.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

label {
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
    color: white;
}

input {
    text-align: center;
}

.form-login-custom {
    background-color: rgba(20, 20, 20, 0.589);
    border-radius:10%;
    border-color: none;
}

.form-control:focus {
    outline: none;
    border-color: yellow;
    box-shadow: 0 0 10px yellow;
}

.bg-custom {
    border-radius:.25rem;
    box-shadow:0 .25rem .75rem rgba(0,0,0,.2);
    /* width: 300px; */
    margin-right:1rem;
    background-color:rgba(221, 221, 221, 0.4);
    scrollbar-width:none;
}

.bg-custom:hover {
    box-shadow: 0 10px 10px rgba(56, 253, 220, 0.582), 0 10px 10px rgba(21, 253, 222, 0.473);
}

.title {
    align-content: center;
    text-align: center;   
}

.kanban-title {
    /* width: 10%; */
    align-content: center;
    text-align: center;
    width: 100%;
}

.del {
    text-align: right;
    margin-bottom: 0;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    color: red;
}

.navbar-default{
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#login, #register, #btn-logout, #btn-explore, #btn-home {
    color: #fff;
    font-family: 'Fredoka One', cursive;
}

#login:hover, #register:hover {
    cursor: pointer;
    color: rgb(231, 183, 24);
}

.labels {
    font-size: 0.75em;
    padding: 5px;
    border-radius: 20px;
    /* background-color: red; */
    color: white;
}

.content-delete-button{
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    border: 0;
    -moz-appearance: none;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    margin-bottom: 0.25rem;
}

.card-list {
    display:block;
    opacity:1;
    max-width:350px;
    overflow:hidden;
    font-size:0.875rem;
    background-color:rgba(255,255,255,.85);
    background-clip:padding-box;
    border:1px solid rgba(0,0,0,.1);
    box-shadow:0 .25rem .75rem rgba(0,0,0,.1);
    border-radius:.25rem;
    transition:opacity .15s linear;
    margin: 10px;
}

.card-list-header {
    display:flex;
    align-items:center;
    padding:.25rem .75rem;
    color:#6c757d;
    background-color:rgba(255,255,255,.85);
    background-clip:padding-box;
    border-bottom:1px solid rgba(0,0,0,.05);
    cursor:move;
}

.card-list-title {
    flex:1
}

.card-list-body {
    padding: .75rem;
    cursor: pointer;
}

.card-inline {
    border-radius:.25rem;
    box-shadow:0 .25rem .75rem rgba(0,0,0,.2);
    width: 300px;
    margin-right:1rem;
    background-color:rgba(255, 255, 255, 0.4);
    scrollbar-width:none;
}

.card-title {
    padding: 5px;
    background-color: #F9F9FA;
    color:#6c757d;
    cursor:pointer;
}

.content-wrapper{
    margin: auto;
    overflow: auto;
    scrollbar-width: none;
    width: 100%;
    transition: 1s;
    max-height: 400px;
}

.card-bottom {
    padding:5px;
    background-color:#F9F9FA;
    color:#6c757d;
    width: 99.5%;
}

.empty-card {
    color: white;
    text-align: center;
    padding-bottom: 15px;
}

.temp-label {
    margin: 10px;
}

.label-delete-button {
    padding: 0;
    background-color: transparent;
    border: 0;
    -moz-appearance: none;
    font-weight: 700;
    line-height: 1;
    color: white;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}

.labels-hover:hover {
    font-size: 0.9em;
}

.form-update-input {
    height:calc(1.5em + .75rem + 2px);
    color:#495057;
    padding:.375rem .75rem;
    background-clip:padding-box;
    font-size:1rem;
    font-weight:400;
    border:1px solid #ced4da;
    border-radius: .25rem;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-select {
    width: auto;
}