* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background-color: #2D3142;
    color: #FFF;
    font-family: 'Nunito';
}

// login-page

#login-page {
	background: #2D3142;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Nunito', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
    h1 {
        font-weight: bold;
        margin: 0;
    }
    
    h2 {
        text-align: center;
    }
    
    p {
        font-size: 14px;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: 0.5px;
        margin: 20px 0 30px;
    }
    
    span {
        font-size: 12px;
    }
    
    a {
        color: #333;
        font-size: 14px;
        text-decoration: none;
        margin: 15px 0;
    }
    
    button {
        border-radius: 20px;
        border: 1px solid #FF4B2B;
        background-color: #FF4B2B;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
    }
    
    button:active {
        transform: scale(0.95);
    }
    
    button:focus {
        outline: none;
    }
    
    button.ghost {
        background-color: transparent;
        border-color: #FFFFFF;
    }
    
    .log-form {
        font-family: inherit;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 50px;
        height: 100%;
        text-align: center;
        h1 {
            // color: black;
            background: linear-gradient(90deg, rgba(239,131,84,1) 0%, rgba(233,132,88,1) 50%, rgba(200,76,70,1) 100%);
            -webkit-background-clip: text;
	        -webkit-text-fill-color: transparent;
        };
        input {
            background-color: #eee;
            border: none;
            padding: 12px 15px;
            margin: 8px 0;
            width: 100%;
        };
        span {
            color: black
        }
        .signin-buttons {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            button, span, {
                margin: 5px 0;
            }
        }
    }
    
    
    .container {
        background-color: #fff;
        border-radius: 10px;
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                0 10px 10px rgba(0,0,0,0.22);
        position: relative;
        overflow: hidden;
        width: 768px;
        max-width: 100%;
        min-height: 480px;
    }
    
    .form-container {
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s ease-in-out;
    }
    
    .sign-in-container {
        left: 0;
        width: 50%;
        z-index: 2;
    }
    
    .container.right-panel-active .sign-in-container {
        transform: translateX(100%);
    }
    
    .sign-up-container {
        left: 0;
        width: 50%;
        opacity: 0;
        z-index: 1;
    }
    
    .container.right-panel-active .sign-up-container {
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
        animation: show 0.6s;
    }
    
    @keyframes show {
        0%, 49.99% {
            opacity: 0;
            z-index: 1;
        }
        
        50%, 100% {
            opacity: 1;
            z-index: 5;
        }
    }
    
    .overlay-container {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: transform 0.6s ease-in-out;
        z-index: 100;
    }
    
    .container.right-panel-active .overlay-container{
        transform: translateX(-100%);
    }
    
    .overlay {
        background: #FF416C;
        background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
        background: linear-gradient(90deg, rgba(239,131,84,1) 0%, rgba(233,132,88,1) 50%, rgba(200,76,70,1) 100%);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        color: #FFFFFF;
        position: relative;
        left: -100%;
        height: 100%;
        width: 200%;
          transform: translateX(0);
        transition: transform 0.6s ease-in-out;
    }
    
    .container.right-panel-active .overlay {
          transform: translateX(50%);
    }
    
    .overlay-panel {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        top: 0;
        height: 100%;
        width: 50%;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
    }
    
    .overlay-left {
        transform: translateX(-20%);
    }
    
    .container.right-panel-active .overlay-left {
        transform: translateX(0);
    }
    
    .overlay-right {
        right: 0;
        transform: translateX(0);
    }
    
    .container.right-panel-active .overlay-right {
        transform: translateX(20%);
    }
    
    .social-container {
        margin: 20px 0;
    }
    
    .social-container a {
        border: 1px solid #DDDDDD;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        height: 40px;
        width: 40px;
    }
}


// login-page

.navbar {
    /* background-color: #EF8354; */
    background: linear-gradient(90deg, rgba(239,131,84,1) 0%, rgba(233,132,88,1) 50%, rgba(200,76,70,1) 100%);
    color: rgb(255, 255, 255);
    padding: 1rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    #app-title {
        font-size: 1.2rem;
        font-weight: 800;
        img {
            width: 75%;
        }
    }
}

.account {
    width: 2rem;
    height: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    // &:hover {
    //     background-color: #2D3142;
    //     color: white;
    // }
}

.account-menu {
    // margin-top: 1rem;
    margin-right: 3rem;
    display: none;
    // position: absolute;
    background-color: rgba(239,131,84,1);
    // min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 4px;
}

.account:hover .account-menu {
    display: initial;
    // justify-content: flex-end;
}

.account:hover #account-letter {
    display: none;
    // justify-content: flex-end;
}

#account-letter {
    color: #4F5D75;
}

.main-space {
    /* background-color: #BFC0C0; */
    // min-height: 80vh;
    color: black;
    padding: 0 1.25rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.kanban-card {
    padding: 1rem .75rem;
    margin: 1rem 1rem;
    min-width: 15rem;
    min-height: 5rem;
    background-color: #FFF;
    width: 15rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.48);
    // opacity: .8;
}

.title-and-act {
    margin-bottom: .5rem;

    max-height: 85vh;
}

.title-and-act, .add-div {
   width: 100%; 
   display: flex;
   flex-direction: column;
   align-items: center;
   .card-title {
       margin-bottom: .25rem;
   }
}

.act {
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    background-color: #4F5D75;
    padding: .5rem .5rem;
    margin: .25rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.48);
    p {
        font-size: .9rem;
        color: white;
    };
    .option-space {
        position: relative;
        width: 1.35rem;
        height: 1.35rem;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover, &:focus {
            background-color: rgba(255, 255, 255, .5);
        }
    }
}

.fas {
    color: white;
}

.fa-angle-right, .fa-angle-left, .fa-trash, .fa-pen-square {
    margin: .25rem 0;
    cursor: pointer;
    &:hover {
        color: purple;
    }
}

.option-menus {
    display: none;
    position: absolute;
    background-color: rgb(239,131,84);
    // min-width: 160px;
    border-radius: 4px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.show {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .25rem;
}

.add-act {
    width: 100%;
    input {
        font-family: inherit;
        width: 100%;
        padding: .25rem .5rem;
        border-radius: 4px;
        border: 1px solid #4F5D75;
        background-color: #FFF;
    }
}

#edit-form {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #2D3142;
    font-family: "Nunito";
    color: white;
    letter-spacing: 1px;
    .card-form{
        width: 500px;
        border-radius: 4px;
        background: white;
        box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    
        .form-title{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3.5rem;
            font-size: 20px;
            font-weight: bold;
            background: linear-gradient(90deg, rgba(239,131,84,1) 0%, rgba(233,132,88,1) 50%, rgba(200,76,70,1) 100%);
            border-radius: 4px 4px 0 0;
        }
    
        .form-body{
            padding: 10px;
            
            .row{
                display: flex;
                justify-content: space-around;
                padding: 10px;
                
                input[type="text"]{
                    appearance: none;
                    width: 100%;
                    margin: 0 15px;
                    height: 35px;
                    padding: 5px 15px;
                    border-radius: 4px;
                    outline: none;
                    border: none;
                    background: #e8ebed;
                    color: #576366;
                    font-size: 14px;
                    font-family: inherit;
                }
            }
        }
    
        .rule{
            height: 2px;
            background: #e8ebed;
            margin: 0px 35px;
        }
    
        .form-footer{
            margin: 0 25px 0 25px;
            padding: 15px 10px;
            display: flex;
            justify-content: space-between;
            
            a{
                display: inline-block;
                height: 40px;
                line-height: 40px;
                border: none;
                border-radius: 5px;
                padding: .1rem 15px;
                background:  rgba(239,131,84,1) 0%;
                margin-right: 10px;
                font-size: 14px;
            }
            
            span{
                margin-left: 8px;
            }
        }
    
    }
}
  