*, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    background-image: url("./src/img/bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* overflow-y: scroll; */
    z-index: 0;
    height: 100vh;
}

/* body::-webkit-scrollbar {
    width: 1em;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
} */

.container-fluid {
    box-sizing: border-box;
    /* background-color: hotpink; */
}

.flex-container {
    display: flex;
    /* overflow: auto; */
    box-sizing: border-box;
}

.box {
    box-sizing: border-box;
    background-color: rgba(128, 128, 128, 0.5);
    flex-direction: row;
    margin: 20px 0;
    padding: 15px 15px;
    border-radius: 5px;
    max-height: calc(100vh - 100px);
    /* max-height: 100vh; */
    /* height: calc(100vh - 100px); */
    justify-content: flex-start;
    /* overflow: auto; */
}

.kanban-header {
    font-family: "Arial";
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px black;
}

.kanban-content {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 85vh;
    font-family: "courier";
    box-sizing: border-box;
}

.item {
    /* flex-direction: column; */
    background-color: honeydew;
    /* margin: 10px 5px; */
    margin: 10px 0px !important;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px 0px;
    /* height: 140px; */
    color: teal;
    /* display: flex;
    justify-content: center; */
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    /* font-family: "courier"; */
}

.item-title {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    /* background-color: red; */
}

.big-item-content{
    height: 100%;
    margin: 0px 0px !important;
    padding: 0px 0px !important;
    box-sizing: border-box;
}

.item-content {
    overflow-y: auto;
    /* background-color: black; */
}

.item-description {
    font-size: 16px;
}

.item-btn {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
}

/* .item-btn {
    justify-content: space-between;
}

.item-btn-backlog {
    justify-content: flex-end;
} */

.left, .right {
    cursor: pointer;
}

.kanban-footer {
    padding: 5px 15px;
    margin: 10px 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    align-items:center;
}

#loading-img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    top: 0;
}

.delete-card {
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    box-sizing: border-box;
    padding: 0px 0px !important;
    margin: 0px 0px !important;
}

.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: calc(100vh - 75px); */
    height: 100vh;
    /* background-color: salmon; */
}

.jumbotron {
    background-color: rgba(128, 128, 128, 0.8) !important;
    /* background-color: black !important; */
    color: white;
}