
form {
  width: auto !important;
}

#kanban-board .kanban-new form, #kanban-board .kanban-detail, #kanban-board .kanban-content, #dashboard-home .footer, #dashboard-home .dashboard-container .dashboard-navigator, #dashboard-home .profile-option, #sign-up-google-page .sign-up-google-container .sign-up-google-form, #sign-up-google-page .sign-up-google-container, #sign-up-page .sign-up-container .sign-up-form, #sign-up-page .sign-up-container, #login-page .login-container .login-form, #login-page .login-container, #landing-page .footer, #landing-page .landing-content-2 .landing-intro .landing-intro-text, #landing-page .landing-content-2 .landing-intro .landing-ico-card, #landing-page .landing-content .landing-intro .landing-intro-text, #landing-page .landing-content, #landing-page #nav-landing-bg #nav-landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#kanban-board .kanban-content .row .kanban-card .kanban-title, #kanban-board .nav-container, #dashboard-home .your-kanban-board .your-kanban-board-container, #dashboard-home .dashboard-container, #dashboard-home .nav-container .nav-item, #dashboard-home .nav-container .nav, #dashboard-home .nav-container, #sign-up-google-page .sign-up-google-bg, #sign-up-page .sign-up-bg, #login-page .login-bg, #landing-page .landing-content-2 .landing-intro, #landing-page .landing-content-2, #landing-page .landing-content .landing-intro, #landing-page #nav-landing-bg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

body {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}

#landing-page {
  background-color: white;
}
#landing-page #nav-landing-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(https://trainingindustry.com/content/uploads/2019/10/Soft-Skills-as-a-Differentiator_Business-of-Learning-Episode-22.jpg);
  background-size: cover;
  background-attachment: fixed;
}
#landing-page #nav-landing-bg #nav-landing-container {
  width: 48vw;
  color: white;
}
#landing-page #nav-landing-bg #nav-landing-container #nav-landing {
  height: 60px;
  align-items: center;
  width: 48vw;
  margin-top: 10px;
}
#landing-page #nav-landing-bg #nav-landing-container #nav-landing .nav-logo {
  width: 200px;
  filter: brightness(0) invert(1);
}
#landing-page #nav-landing-bg #nav-landing-container .signin-btn {
  margin: 0;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 4px 32px;
  margin-right: 80px;
  font-family: "Roboto", sans-serif;
}
#landing-page #nav-landing-bg .jumbotron {
  background: none;
  height: 60vh;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0;
}
#landing-page #nav-landing-bg .jumbotron h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 72px;
  font-weight: 700;
}
#landing-page #nav-landing-bg .jumbotron p {
  font-family: "Raleway", sans-serif;
  margin-top: 60px;
  font-size: 22px;
}
#landing-page #nav-landing-bg .jumbotron .btn-lg {
  margin-top: 72px;
  width: 16vw;
  background-color: #5abf78;
  border: 0;
}
#landing-page .landing-content {
  margin-top: 54px;
}
#landing-page .landing-content .landing-intro {
  justify-content: space-around;
  width: 72vw;
}
#landing-page .landing-content .landing-intro .landing-img {
  width: 32vw;
}
#landing-page .landing-content .landing-intro .landing-intro-text {
  text-align: center;
  flex-wrap: wrap;
  width: 32vw;
}
#landing-page .landing-content .landing-intro .landing-intro-text .h1 {
  margin-bottom: 54px;
  font-family: "Roboto", sans-serif;
}
#landing-page .landing-content .landing-intro .landing-intro-text p {
  font-family: "Raleway", sans-serif;
}
#landing-page .landing-content-2 {
  margin-top: 54px;
}
#landing-page .landing-content-2 .landing-intro {
  justify-content: space-around;
  width: 72vw;
}
#landing-page .landing-content-2 .landing-intro .landing-ico-card {
  text-align: center;
  width: 12vw;
}
#landing-page .landing-content-2 .landing-intro .landing-ico-card .landing-ico {
  width: 4vw;
  margin-bottom: 2vw;
}
#landing-page .landing-content-2 .landing-intro .landing-ico-card p {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}
#landing-page .landing-content-2 .landing-intro .landing-intro-text {
  text-align: center;
  flex-wrap: wrap;
  width: 32vw;
}
#landing-page .landing-content-2 .landing-intro .landing-intro-text .h1 {
  margin-bottom: 54px;
  font-family: "Roboto", sans-serif;
}
#landing-page .landing-content-2 .landing-intro .landing-intro-text p {
  font-family: "Raleway", sans-serif;
}
#landing-page .footer {
  justify-content: center;
  margin-top: 56px;
  height: 8vh;
  background: #212121;
  color: white;
  font-family: "Raleway", sans-serif;
}
#landing-page .footer p {
  margin-top: 28px;
}

#login-page .login-bg {
  justify-content: flex-start;
  align-items: flex-end;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  filter: brightness(80%);
  background-color: rgba(0, 0, 0, 0.2);
}
#login-page .login-bg img {
  height: 90vh;
}
#login-page .login-container {
  justify-content: center;
  height: 80vh;
}
#login-page .login-container img {
  width: 24px;
  margin: 24px;
  align-self: start;
  cursor: pointer;
}
#login-page .login-container .login-form {
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  z-index: 9999;
  border-radius: 20px;
  padding-bottom: 40px;
  height: 68vh;
  text-align: center;
}
#login-page .login-container .login-form form {
  margin: 24px 30px 20px 30px;
}
#login-page .login-container .login-form form h2 {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 48px;
  font-size: 48px;
}
#login-page .login-container .login-form form .form-group {
  margin: 20px 30px;
  width: 30vw;
}
#login-page .login-container .login-form form .form-control {
  border: 1px #ced4da;
  border-bottom: 1px solid #ced4da;
  font-family: "Raleway", sans-serif;
}
#login-page .login-container .login-form form .form-control:focus {
  box-shadow: none;
}
#login-page .login-container .login-form form .btn {
  width: 30vw;
  margin-top: 15px;
  background-color: #5abf78;
  height: 5vh;
  border: 0;
}
#login-page .login-container .login-form hr {
  border: 0.5px solid #ced4da;
  width: 85%;
}
#login-page .login-container .login-form a {
  margin-top: 20px;
}

#sign-up-page .sign-up-bg {
  justify-content: flex-start;
  align-items: flex-end;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  filter: brightness(80%);
  background-color: rgba(0, 0, 0, 0.2);
}
#sign-up-page .sign-up-bg img {
  height: 90vh;
}
#sign-up-page .sign-up-container {
  justify-content: center;
  align-items: center;
  height: 80vh;
}
#sign-up-page .sign-up-container img {
  width: 24px;
  margin: 24px;
  align-self: start;
  cursor: pointer;
}
#sign-up-page .sign-up-container .sign-up-form {
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  z-index: 9999;
  border-radius: 20px;
  height: 72vh;
  text-align: center;
}
#sign-up-page .sign-up-container .sign-up-form form {
  margin: 24px 30px 60px 30px;
}
#sign-up-page .sign-up-container .sign-up-form form h2 {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 48px;
  font-size: 48px;
}
#sign-up-page .sign-up-container .sign-up-form form .form-group {
  margin: 20px 30px;
  width: 30vw;
}
#sign-up-page .sign-up-container .sign-up-form form .form-control {
  border: 1px #ced4da;
  border-bottom: 1px solid #ced4da;
  font-family: "Raleway", sans-serif;
}
#sign-up-page .sign-up-container .sign-up-form form .form-control:focus {
  box-shadow: none;
}
#sign-up-page .sign-up-container .sign-up-form form .btn {
  width: 30vw;
  height: 5vh;
  margin-top: 30px;
  background-color: #5abf78;
  border: 0;
}
#sign-up-page .sign-up-container .sign-up-form hr {
  border: 0.5px solid #ced4da;
  width: 85%;
}
#sign-up-page .sign-up-container .sign-up-form a {
  margin-top: 20px;
}

#sign-up-google-page .sign-up-google-bg {
  justify-content: flex-start;
  align-items: flex-end;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  filter: brightness(80%);
  background-color: rgba(0, 0, 0, 0.2);
}
#sign-up-google-page .sign-up-google-bg img {
  height: 90vh;
}
#sign-up-google-page .sign-up-google-container {
  justify-content: center;
  align-items: center;
  height: 80vh;
}
#sign-up-google-page .sign-up-google-container img {
  width: 24px;
  margin: 24px;
  align-self: start;
}
#sign-up-google-page .sign-up-google-container .sign-up-google-form {
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  z-index: 9999;
  border-radius: 20px;
  height: 72vh;
  text-align: center;
}
#sign-up-google-page .sign-up-google-container .sign-up-google-form form {
  margin: 24px 30px 60px 30px;
}
#sign-up-google-page .sign-up-google-container .sign-up-google-form form h2 {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 16px;
  font-size: 48px;
}
#sign-up-google-page .sign-up-google-container .sign-up-google-form form h3 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 48px;
  font-size: 16px;
}
#sign-up-google-page .sign-up-google-container .sign-up-google-form form .form-group {
  margin: 20px 30px;
  width: 30vw;
}
#sign-up-google-page .sign-up-google-container .sign-up-google-form form .form-control {
  border: 1px #ced4da;
  border-bottom: 1px solid #ced4da;
  font-family: "Raleway", sans-serif;
}
#sign-up-google-page .sign-up-google-container .sign-up-google-form form .btn {
  width: 30vw;
  margin-top: 30px;
  background-color: #5abf78;
  height: 5vh;
  border: 0;
}
#sign-up-google-page .sign-up-google-container .sign-up-google-form hr {
  border: 0.5px solid #ced4da;
  width: 85%;
}
#sign-up-google-page .sign-up-google-container .sign-up-google-form a {
  margin-top: 20px;
}

#dashboard-home .nav-container {
  position: fixed;
  background-color: #5abf78;
  color: white;
  padding: 0 30px;
  height: 6vh;
  width: 100vw;
  z-index: 100;
}
#dashboard-home .nav-container .nav {
  align-items: center;
  width: 100vw;
}
#dashboard-home .nav-container img {
  width: 36px;
  border-radius: 10px;
  cursor: pointer;
}
#dashboard-home .nav-container h2 {
  margin-right: 20px;
}
#dashboard-home .nav-container .nav-item form {
  background-color: #cdfada;
  border-radius: 10px;
}
#dashboard-home .nav-container .nav-item form .form-control {
  background-color: #cdfada;
  border: 0;
}
#dashboard-home .nav-container .nav-item form .form-control:focus {
  box-shadow: none;
}
#dashboard-home .profile-option {
  align-items: flex-end;
  background-color: white;
  position: fixed;
  top: 5vh;
  right: 3vw;
  z-index: 2;
  padding: 20px;
}
#dashboard-home .profile-option img {
  width: 12px;
  height: 12px;
  margin-bottom: 10px;
  cursor: pointer;
}
#dashboard-home .profile-option h2 {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
#dashboard-home .dashboard-container {
  padding-top: 6vh;
  align-items: flex-start;
}
#dashboard-home .dashboard-container .dashboard-content {
  min-height: 94vh;
  width: 60vw;
  margin-top: 3vw;
}
#dashboard-home .dashboard-container .dashboard-navigator {
  margin-right: 2vw;
  align-items: flex-start;
  justify-content: flex-start;
  height: 60vh;
  margin-top: 6vh;
}
#dashboard-home .dashboard-container .dashboard-navigator p {
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}
#dashboard-home .dashboard-container .dashboard-navigator p:hover {
  background-color: #dfdfdf;
  width: 100%;
}
#dashboard-home .dashboard-container .dashboard-navigator form .form-control {
  width: 10vw;
  border: 0;
  padding-left: 0;
}
#dashboard-home .dashboard-container .dashboard-navigator form .form-control:focus {
  outline: 0;
  box-shadow: inset 0 -1px 0 #ddd;
  border: 0;
}
#dashboard-home .dashboard-container .dashboard-navigator form img {
  width: 20px;
}
#dashboard-home h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 32px;
}
#dashboard-home .your-kanban-board .your-kanban-board-container {
  margin-top: 20px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#dashboard-home .your-kanban-board .your-kanban-board-container .board {
  background-size: cover;
  margin: 0 10px;
  width: 240px;
  height: 160px;
  border-radius: 20px;
  padding: 16px;
  padding-top: 20px;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}
#dashboard-home .your-kanban-board .your-kanban-board-container .board h3 {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
#dashboard-home .your-kanban-board .your-kanban-board-container .board-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(https://s.yimg.com/uu/api/res/1.2/DdytqdFTgtQuxVrHLDdmjQ--~B/aD03MTY7dz0xMDgwO3NtPTE7YXBwaWQ9eXRhY2h5b24-/https://media-mbst-pub-ue1.s3.amazonaws.com/creatr-uploaded-images/2019-11/7b5b5330-112b-11ea-a77f-7c019be7ecae);
}
#dashboard-home .your-kanban-board .your-kanban-board-container .board-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(https://static01.nyt.com/images/2020/03/06/learning/VTS03-09-20LN/VTS03-09-20LN-jumbo.jpg);
}
#dashboard-home .shared-kanban {
  margin-top: 40px;
}
#dashboard-home .footer {
  justify-content: center;
  margin-top: 56px;
  height: 8vh;
  background: #212121;
  color: white;
  font-family: "Raleway", sans-serif;
}
#dashboard-home .footer p {
  margin-top: 28px;
}

#kanban-board {
  background-size: cover;
  background-attachment: fixed;
  height: 100vh
}
#kanban-board .nav-container {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 0 30px;
  height: 6vh;
  width: 100vw;
}
#kanban-board .nav-container img {
  width: 36px;
  border-radius: 10px;
  cursor: pointer;
}
#kanban-board .nav-container h2 {
  width: 40vw;
  margin-right: auto;
  text-align: center;
}
#kanban-board .kanban-content .row {
  width: 96vw;
  align-items: flex-start;
  padding-bottom: 4vh;
}
#kanban-board .kanban-content .row .kanban-card {
  cursor: pointer;
}
#kanban-board .kanban-content .row .kanban-card .kanban-title {
  margin-top: 3vh;
  height: 5vh;
}
#kanban-board .kanban-content .row .kanban-card .kanban-title h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
}
#kanban-board .kanban-content .row .kanban-card .kanban-content {
  min-height: 15vh;
  border-radius: 10px;
  padding: 10px;
  max-height: 82vh;
}
#kanban-board .kanban-content .row .kanban-card .kanban-content .kanban-content-card {
  margin-top: 20px;
  padding: 16px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
}
#kanban-board .kanban-content .row .kanban-card .kanban-content .kanban-content-card .icon-div {
  margin-top: 10px;
  margin-left: 10px;
}
#kanban-board .kanban-content .row .kanban-card .kanban-content .kanban-content-card .row {
  height: 100%;
  padding: 0 8px;
  width: 100%;
  overflow-wrap: break-word;
}
#kanban-board .kanban-content .row .kanban-card .kanban-content .kanban-content-card img {
  width: 16px;
}
#kanban-board .kanban-content .row .kanban-card .kanban-content .kanban-content-card .bottom-icon {
  width: 24px;
}
#kanban-board .kanban-content .row .kanban-card .kanban-content .kanban-content-card p {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin: 0;
  padding: 0;
  margin-top: 6px;
}
#kanban-board .kanban-content .row .kanban-card .kanban-content .kanban-content-card .kanban-card-title {
  font-size: 20px;
  margin-left: 16px;
}
#kanban-board .kanban-content .row .kanban-card .kanban-content .kanban-content-card .kanban-card-desc {
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
  font-size: 14px;
  margin-left: 16px;
  width: 16vw;
}
#kanban-board .kanban-detail {
  align-items: flex-start;
  height: 94vh;
  width: 20vw;
  position: fixed;
  background-color: whitesmoke;
  z-index: 99;
  right: 0;
  text-align: left;
  padding: 20px;
}
#kanban-board .kanban-detail input {
  border: none;
  border-bottom: 1px solid #427852;
  outline: none;
  background: none;
}
#kanban-board .kanban-detail text-area {
  border: none;
  border-bottom: 1px solid #427852;
  outline: none;
  background: none;
  font-family: "Raleway", sans-serif;
}
#kanban-board .kanban-detail .close {
  align-self: flex-end;
  cursor: pointer;
  width: 20px;
}
#kanban-board .kanban-detail .row {
  width: 80%;
  margin-bottom: 1vh;
}
#kanban-board .kanban-detail .row img {
  border-radius: 120px;
  width: 48px;
}
#kanban-board .kanban-detail .row p {
  font-size: 10px;
  margin-bottom: 0;
}
#kanban-board .kanban-detail .row .name {
  font-size: 20px;
}
#kanban-board .kanban-detail .due-date {
  width: 100%;
}
#kanban-board .kanban-detail .due-date p {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 0;
}
#kanban-board .kanban-detail .detail-desc {
  font-family: "Raleway", sans-serif;
  font-weight: light;
  margin-bottom: auto;
}
#kanban-board .kanban-detail .bottom-icon {
  width: 48px;
  cursor: pointer;
  align-self: flex-end;
}
#kanban-board .kanban-new {
  align-items: flex-start;
  height: 94vh;
  width: 20vw;
  position: fixed;
  background-color: whitesmoke;
  z-index: 99;
  right: 0;
  text-align: left;
  padding: 20px;
}
#kanban-board .kanban-new h1 {
  margin-bottom: 5vh;
}
#kanban-board .kanban-new .close {
  align-self: flex-end;
  width: 20px;
  cursor: pointer;
}
#kanban-board .kanban-new .row {
  width: 80%;
  margin-bottom: 5vh;
}
#kanban-board .kanban-new .row img {
  border-radius: 120px;
  width: 48px;
}
#kanban-board .kanban-new .row p {
  font-size: 10px;
  margin-bottom: 0;
}
#kanban-board .kanban-new .row .name {
  font-size: 20px;
}
#kanban-board .kanban-new form .bottom-icon {
  background: none;
  border: 0;
  cursor: pointer;
  align-self: flex-end;
}
#kanban-board .kanban-new form .bottom-icon img {
  width: 48px;
}
#kanban-board .kanban-new form .bottom-icon:focus {
  box-shadow: none;
  border: 0;
}
#kanban-board .kanban-new form .form-group {
  width: 100%;
}
#kanban-board .kanban-new form .form-group #add-kanban-desc {
  word-wrap: break-word;
  word-break: break-all;
  font-family: "Raleway", sans-serif;
  height: 10vh;
  width: 100%;
  padding: 10px;
}
#kanban-board .kanban-new form .form-group .form-control {
  border: 1px #ced4da;
  border-bottom: 1px solid #ced4da;
  font-family: "Raleway", sans-serif;
}
#kanban-board .kanban-new form .form-group .form-control:focus {
  box-shadow: none;
}

/*# sourceMappingURL=style.css.map */
