body {
    margin: 0;
    height: 100vh;
}

/* -------- HEADER -------- */
.header {
    width: 100%;
    display: flex;
    background: rgb(57,62,70);
    background: linear-gradient(90deg, rgba(57,62,70,1) 0%, rgba(34,40,49,1) 100%);
    height: 40px;
    color: white;
    justify-content: space-between;

}

.uk-offcanvas-bar {
    background: rgb(57,62,70);
    background: linear-gradient(90deg, rgba(57,62,70,1) 0%, rgba(34,40,49,1) 100%);
}

.uk-button {
    color: white;
    border: 0px;
}

.uk-button:hover {
    color: white;
}

.header p {
    color:white;
    display: flex;
    align-items: center;
    font-family: 'Damion', cursive;
    font-size: 2em;
    
}

/* -------- MAIN AND SIDEBAR -------- */
.main-page {
    display: flex;
    background: rgb(57,62,70);
    background: linear-gradient(90deg, rgba(57,62,70,1) 0%, rgba(34,40,49,1) 100%);
    margin:0;
    height: 100vh;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    margin: 25px 0px;
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.sidebar p {
    font-size: 50px;
    color: white
}
    /* Canvas */
.canvas {
    display: flex;
}

.cards-container {
    overflow: auto;
    background: rgb(235,235,235);
    background: linear-gradient(180deg, rgba(235,235,235,1) 0%, rgba(238,238,238,1) 100%);
    padding: 15px;
    margin: 15px 0px;
    margin-left: 20px;
    box-shadow: 2px 2px 10px grey;
    max-height: 100vh;
    height: fit-content;
    border-radius: 1em;

}

.uk-card, .add-card {
    margin-bottom: 25px;
    box-shadow: 1px 1px 10px lightgray;
}

.add-card a{
    background-color: #eeeeee;
}

.uk-input {
    margin-bottom: 25px;
    box-shadow: 1px 1px 10px lightgray;
}

.uk-inline {
    height: 40px;
    width: 100%;
}

.uk-icon-link{
    cursor: pointer;
}

.uk-button-text {
    color: #222831
}

.uk-button-text:hover {
    color: #222831
}

.uk-card-footer {
    padding: 0;
}

.uk-button-text{
    color: #222831;
}

.canvas .uk-button-edit {
    background-color: #00adb5;
    color: #222831;
    border-radius: 0.5em;
}

.canvas .uk-button-edit:hover {
    box-shadow: 0 6px 6px rgba(0,0,0,0.2);;
}

/* -------- LANDING PAGE -------- */
.landing-page {
    background: rgb(57,62,70);
    background: linear-gradient(90deg, rgba(57,62,70,1) 0%, rgba(34,40,49,1) 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing-page h2 {
    color: white;

}

    /* Kanban Introduction */
.kanban-introduction {
    width: 35%;
    height: 35%;
    /* border: 2px solid white; */
    margin-bottom: 5em;
    margin-top: 5em;
    padding: 15px;
}

.kanban-introduction p {
    color: white;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

.kanban-introduction i{
    font-size: xx-small;
}

.kanban-introduction h2 {
    font-family: 'Damion', cursive;
    font-size: 350%;
    text-align: center;
}

.landing-page .uk-offcanvas-bar .uk-input::placeholder {
    color: #222831;
}

    /* Login Page */

#login-canvas legend {
    color: #eeeeee;
    text-align: center;
    margin-bottom: 1em;
}

#login-canvas, .login-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page h2 {
    text-align: center;
    color: #eeeeee;
}

.login-page p{
    color: #eeeeee
}

#login-form .uk-margin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-page label {
    color: white;
    display: flex;
    align-items: center;

}

.landing-page .uk-offcanvas-bar .uk-input {
    color: #222831;
    background-color: #eeeeee;
    box-shadow: none;
    border-radius: 10px;
}

#login-canvas .uk-button, #register-canvas .uk-button {
    color: #222831;
    background-color: #eeeeee;
    border-radius: 15px;
}

#login-canvas .uk-form-icon, #register-canvas .uk-form-icon {
    color: #222831;
}

    /* Register Page */
#register-canvas .register-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-canvas legend {
    color: #eeeeee;
    text-align: center;
    margin-bottom: 1em;
}

#register-form .uk-margin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-page p {
    color: #eeeeee
}

.register-page label {
    color: white;
    display: flex;
    align-items: center;

}

