* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #21D4FD
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%); */
    background-image: url("https://assets.website-files.com/5bfd1275cc56e15ce750b18e/5c289afb9a15758624893a33_11.%20Fuchsia.jpg");
    background-size: 100%;
}

#page-register {
    padding: 2px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6)	;
}

#page-login {
    padding: 2px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6)	;
}

.container-landing {
    background-color: rgba(255, 255, 255, 0.6)	;
    display: block;
    height: 480px;
    width: 640px;
    margin: auto;
    padding: 10px;
}

.container {
    display: flex;
    height: 84vh;
    width: 100vw;
    justify-content: space-evenly;
}

.col.s3 {
    display: flex;
    flex-direction: column;
    margin-top: 6px;
}

.col.s2 {
    display: flex;
    justify-content: space-between;
}


.column-container {
    margin: 4px;
    padding: 4px;
    width: 24vw;
}

.column-body {
    padding-left: 12px;
    overflow-y: scroll;
    height: 92%;
}

.column-header {
    font-size: 22px;
}

#btn-create{
    position: fixed;
    bottom: 4px;
    right: 4px;
}

.waves-effect.waves-yellow.btn-small {
    background-color: tomato;
}

.waves-effect.waves-teal.btn-small {
    background-color: limegreen
}

.nav-wrapper {
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}

#logo {
    padding-left: 8px;
    padding-top: 8px;
}


/* Full-width input fields */
input[type=text], input[type=password] {
    color: black;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container-modal {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
    display: block;
    float: none;
    }
    .cancelbtn {
    width: 100%;
    }
}