$display-flex: flex

%main-item
    width: 95vw
    height: 100vh
    margin-left: 5vw

%form
    width: 80%
    height: 80%

%form-input-write
    width: 60%
    height: 30px
    background-color: #fcf9ea
    border-color: transparent
    border-bottom-color: #ff5e3a
    color: #2c365d

%form-label
    font-size: 1.8rem

%title
    font-size: 3rem
    margin: 0
    color: #2c365d

%card-section
    border-radius: 15px
    width: 23%
    height: 90%

*
    margin: 0px
    padding: 0px
    box-sizing: border-box
    font-family: 'Sen', sans-serif

#app
    display: $display-flex
    flex-direction: row
    

/* Navbar style */

#navbar-container
    display: $display-flex
    flex-direction: column
    height: 100vh
    width: 5vw
    background-color: #badfdb
    position: fixed

.navbar-item
    display: $display-flex
    flex-direction: column
    list-style-type: none
    height:100%
    li
        padding-top: 20px
        padding-bottom: 20px
        margin: 5px
        color: #ff5e3a
        cursor: pointer

.icon
    color: #f8a978
    font-size: 1.8rem
    
.icon:hover
        color: #ff5e3a

.navbar-div
    height: 50%

.up
    align-items: center
    justify-content: flex-start

.down
    align-items: center
    justify-content: flex-end

/* Login and Register style */

#login-container,#register-container
    @extend %main-item
    display: $display-flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: #fcf9ea
    


#login-form, #register-form
    @extend %form
    display: $display-flex
    flex-direction: column
    justify-content: center
    align-items: center
    #register-word
        padding-top: 1rem
        cursor: pointer

.email-input,.password-input,.first_name-input,.last_name-input,.role-input
    @extend %form-input-write 

.email-label, .password-label,.first_name-label,.last_name-label,.role-label
    @extend %form-label

.title 
    @extend %title

.register
    padding: 0px
    margin: 0px
    font-size: 1rem

#register-form
    overflow: scroll

.submit
    -moz-appearance: none
    -webkit-appearance: none
    appearance: none
    width: 20rem
    height: 2rem
    border-radius: 10px
    cursor: pointer
    background-color: #ffc5a1
    color: #2c365d
    margin-top: 10px

.submit:hover
    background-color: #ff8a5c
    color: #2c365d
/* Add Task style */

#add-task-container
    @extend %main-item
    display: $display-flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: #fcf9ea

#add_task-form
    @extend %form
    display: $display-flex
    flex-direction: column
    justify-content: center
    align-items: center

.title-input,.category-input
    @extend %form-input-write 

.title-label, .category-label
    @extend %form-label

/* cards container style */

#cards-container
    @extend %main-item
    display: $display-flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: #fcf9ea 

#main-cards-container
    height: 90%
    width: 100%
    display: $display-flex
    flex-direction: row
    justify-content: space-evenly
    align-items: center

.cards-section
    @extend %card-section
    background-color: rgba(255,197,161,0.7)


#backlog-container, #product-container, #development-container, #done-container
    width: 100%
    height: 85%
    overflow: scroll
    background-color: transparent
    display: $display-flex
    flex-direction: column
    align-items: center

.card-header-word, .card-footer-word
    padding: 10px
    color: #2c365d

.card-header-div
    border-top-right-radius: 15px
    border-top-left-radius: 15px
    background-color: #badfdb
    margin: 0
    padding: 0

.card-footer-div
    border-bottom-right-radius: 15px
    border-bottom-left-radius: 15px
    background-color: #badfdb
    margin: 0
    padding: 0
/* cards small style */

.w-90
    width: 90% !important

.card-body-color
    background-color: #badfdb

.border-radius-card
    border-radius: 15px

.border-radius-body
    border-top-right-radius: 15px
    border-bottom-right-radius: 15px

.card-content
    display: flex
    flex-direction: row

.card-image
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    width: 30%
    background-color: #fcf9ea
    border-radius: 15px

.card-option
    display: flex
    justify-content: space-evenly

/* cards small style */

.modal-content
    border-radius: 15px

.modal-header
    background-color: #ffc5a1
    border-top-right-radius: 15px
    border-top-left-radius: 15px

.modal-body
    background-color: #badfdb

.modal-footer
    background-color: #ffc5a1
    display: flex
    border-bottom-right-radius: 15px
    border-bottom-left-radius: 15px

.profpict
    font-size: 1.5rem

#profpict-modal
    font-size: 2rem
    margin-right: 10px

#card-detail-icon
    width: 80%

/* homepage style */
#homepage-one, #homepage-two, #homepage-three
    @extend %main-item
    background-color: #fcf9ea


#homepage-image
    height: 70%
    width: 100%
    margin: 0px
    display: flex
    justify-content: center
    align-items: center

#homepage-words
    height: 30%
    width: 100%
    margin: 0px
    display: flex
    flex-direction: column
    align-items: center
    h2
        font-size: 1.5rem
        margin: 0px
        padding-top: 1.5rem
    h1
        margin-bottom: 10px
        padding-bottom: 1rem
    p
        font-size: 1rem
        padding-bottom: 1rem
    #terms
        font-size: 0.5rem
        margin: 0px
    button
        padding: 0.5rem
        height: 2.4rem
        width: 12rem
        margin-bottom: 0.5rem
        border-radius: 15px
        -moz-appearance: none
        -webkit-appearance: none
        appearance: none
        background-color: #ffc5a1
        color: #2c365d
    button:hover
        background-color: #ff8a5c
        color: #2c365d

        
    
#img-tag-home
    height: 90%


.homepage
    height: 50%
    width: 100%
    display: flex

.section-words
    width: 30%
    height: 100%

.section-image
    background-size: 75%
    background-repeat: no-repeat
    height: 100%
    width: 70%

.section-img-one
    background-image: url("./img/organized.svg")
    background-position: left center

.section-img-two
    background-image: url("./img/teamwork.svg")
    background-position: right center

.section-img-three
    background-image: url("./img/work-flow.svg")
    background-position: left center

.section
    font-size: 0.9rem
    padding: 1rem
    padding-bottom: 0rem
    padding-top: 0rem
    margin-bottom: 5px

.section-title
    padding: 20px
    padding-bottom: 10px
    padding-top: 10px
    margin: 0px
    height: 20%

.section-list
    padding: 20px
    padding-top: 5px
    padding-bottom: 5px
    list-style-type: square

.container-section-button
    display: flex
    align-items: center
    justify-content: center

.section-button
    -moz-appearance: none
    -webkit-appearance: none
    appearance: none
    border-radius: 15px
    width: 10rem
    height: 2rem
    padding-bottom: 15px
    background-color: #ffc5a1
    color: #2c365d

.section-button:hover
        background-color: #ff8a5c
        color: #2c365d

.section-review
    display: flex
    justify-content: space-evenly
    align-items: center
    padding-bottom: 2rem
    
.reviewer
    height: 80%
    width: 25%

.review-image
    height: 30%
    width: 100%
    display: flex
    align-items: center
    justify-content: center

.review-content
    height: 60%
    width: 100%
    text-align: center

.review-position
    height: 10%
    width: 100%
    text-align: center

.reviewer-picture
    font-size: 3rem